* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Courier New', monospace;
  background: #0d1127;
  color: #00ffff;
}

a {
  color: inherit;
  text-decoration: none;
}
